<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497232778507-o0fjbsata5vti3t5iktadoaiejniobg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497232778507-o0fjbsata5vti3t5iktadoaiejniobg6</string>
	<key>API_KEY</key>
	<string>AIzaSyDRE0Ydt-Tvp25bl6PPHKjKY_mdqnY0rmI</string>
	<key>GCM_SENDER_ID</key>
	<string>497232778507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aeox.poemobile</string>
	<key>PROJECT_ID</key>
	<string>poemobile-ee87c</string>
	<key>STORAGE_BUCKET</key>
	<string>poemobile-ee87c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497232778507:ios:2975448652145d66a9be0e</string>
	<key>DATABASE_URL</key>
	<string>https://poemobile-ee87c.firebaseio.com</string>
</dict>
</plist>